.box-layout{
    background: url('../../public/images/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box{
    background: fade-out($color: white, $amount: 0.15);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 30rem;
}

.box-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}