.button{
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: bold;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link{
    background: none;
}

.button--secondary{
    background: #888888;
    margin-bottom: $l-size;
}