.page-header{
    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.page-header__title{
    font-weight: 300;
    span{
        font-weight: bolder;
    }
}   

.page-header__actions{
    margin-top: $m-size;    
}