*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    color: $dark-gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

button{
    cursor: pointer;
}

.is-active{
    font-weight: bold;
}